.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: #79b07b; /* Green color for text */
  font-size: 16px;
  cursor: pointer;
  text-decoration: none; /* Remove underline from the link */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e0c330; /* Light gray background color */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 8px 0; /* Add some padding to the content */
}

/* Style the links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 8px 16px; /* Reduce padding for a more compact menu */
  text-decoration: none;
  display: block;
}

/* Change link color on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1; /* Gray background color on hover */
  color: darkred; /* Green color for text on hover */
  text-decoration: underline;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .dropdown-content {
    min-width: 120px; /* Adjust the minimum width for smaller screens */
  }
}

@media screen and (max-width: 576px) {
  .dropdown-content {
    min-width: 100px; /* Further adjust the minimum width for smaller screens */
  }
}