.dropdown {
  position: relative;
  display: inline-block;
  color: #a1952c;
}

.dropbtn {
  color: #79b07b; /* Green color for text */
  font-size: 16px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
   /* Light gray background color */
  background-color: #bcb253;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 8px 0; /* Add some padding to the content */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dropdown-content a {
  color: black;
  padding: 8px 16px; /* Reduce padding for a more compact menu */
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
   /* Slightly darker gray background color on hover */
   background-color: #d5d907;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .dropdown-content {
    min-width: 120px; /* Adjust the minimum width for smaller screens */
  }
}

@media screen and (max-width: 576px) {
  .dropdown-content {
    min-width: 100px; /* Further adjust the minimum width for smaller screens */
  }
}